{%load static%}
<!DOCTYPE html>
<html lang="ro">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.gstatic.com" rel="preconnect" />
<link
href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
rel="stylesheet"
/>
<link rel="stylesheet" href="{% static 'CSS.css' %}">
</head>
<body>

<div class="topnav">
  <a class="active" href="#" style="display:flex ;">
    <img src="{% static 'img/2-removebg.png' %}" height="100px">
    <h1 class="logo">HAHA</h1>
  </a>
  <h1 class="slogan">Gasiti cazare instant la orice ora</h1>
  <input type="text" placeholder="Search" >
  <a class="user"  href="#">User</a>
</div>

<div class="main">
  <h1>{{cazare.title}}</h1>
  <a class="adress" href="{{cazare.adresa}}">
    <p>adresa</p>
  </a>
  <div class="images">
    <img src="{{cazare.photos}}" style="width:250px; height: 250px;"/>
  </div>
  <p>{{cazare.description}}</p>
</div>

</body>
</html>