{% load static %}
<!DOCTYPE html>
<html lang="ro">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="https://fonts.gstatic.com" rel="preconnect" />
  <link
href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
rel="stylesheet"
/>
<link rel="stylesheet" href="{% static 'CSS.css' %}">
  <title>Document</title>
</head>
<body>
  <div class="login-box">
    <h2>Login</h2>
    {% for mesage in messages%}
    <h5>{{mesage}}</h5>
    {%endfor%}
    <form action="login" method="POST">
      {%csrf_token%}
      <div class="user-box">
        <input type="text" name="username" required="">
        <label>Username</label>
      </div>
      <div class="user-box">
        <input type="password" name="password" required="">
        <label>Password</label>
      </div>
      <a href="#">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <input type="submit" 
        style="text-decoration: none;
        background: transparent;
        border: none;
        color: #F2E8CF;
        font-size: 16px;"/>
      </a>
    </form>
  </div>
</body>
</html>

