{% load static %}
<!DOCTYPE html>
<html lang="ro">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="https://fonts.gstatic.com" rel="preconnect" />
  <link
href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
rel="stylesheet"
/>
  <link rel="stylesheet" href="{% static 'CSS.css' %}">
  <title>Document</title>
</head>
<body>
<div class="topnav" >
  <a class="active" href="/" style="display:flex ;">
    <img id="logo" src="{% static 'img/2-removebg.png' %}" height="100px">
    <h1 class="logo hidden-mobile">HAHA</h1>
  </a>
  <button class="openbtn" id="openbtn" onclick="openNav()">☰</button>
  <div class="center_topnav">
    <h1 class="slogan hidden-text">Gasiti cazare instant la orice ora</h1>

  </div>
  <div class="dropdown">
    {%if user.is_authenticated%}
    <button class="dropbtn">{{user.username}}</button>
    {%else%}
    <button class="dropbtn">User</button>
    {%endif%}
      <div class="dropdown-content">
        <a href="user"><b href="user">User Info</b></a>
        <a href="new"><b href="new">Aduga cazare</b></a>
        {%if user.is_authenticated%}
        <a href="logout"><b href="logout" style="color:red" >Logout</b></a>
        {%else%}
        <a href="login"><b href="login" style="color:red" >Login or signup</b></a>
        {%endif%}
      </div>
  </div>
</div>
<h3 style=margin-top:100px;>Acest site este in dezvoltare!!!</h3>
<div class="text">Unde dorești să te cazezi?</div>
<form class="search-form" method=POST action="{% url 'search' %}">
    {% csrf_token %}
    <input type="search" placeholder="Caută orașul" name="searched" class="search1 small-search1">
</form>
<div class="text1">Vezi cazari recente:</div>
    {% for inf in cazare %}
    <div class="results">
      <a class="res" href="/cazare/{{inf.id}}">
        <img class="offerimg" src="{{inf.photos}}" alt="">
        <div class="prezentare">
          <h2 href="cazare">{{inf.title}}</h2>
          <a href="{{inf.adresa}}" class="adress">{{inf.adresa}}</a>
          <p>{{inf.description|truncatewords:20}}</p>
        </div>
      </a>
    </div>
    {% endfor %}
    
<div class="text1">Cazari apreciate:</div>
    {% for inf in cazare %}
    <div class="results">
      <a class="res" href="/cazare/{{inf.id}}">
        <img class="offerimg" src="{{inf.photos}}" alt="">
        <div class="prezentare">
          <h2 href="cazare">{{inf.title}}</h2>
          <a href="{{inf.adresa}}" class="adress">{{inf.adresa}}</a>
          <p>{{inf.description|truncatewords:20}}</p>
        </div>
      </a>
    </div>
    {% endfor %}
  <footer class="in2">
    <div>
      <p class="i">
      phone number=0755607714
      </p>
    </div>
  </footer>
</div>

<script><!--dropdown button-->
  var coll = document.getElementsByClassName("button");
  var i;
 
  for (i = 0; i < coll.length; i++) {
   coll[i].addEventListener("click", function() {
     this.classList.toggle("active1");
     var content = this.nextElementSibling;
     if (content.style.display === "block") {
       content.style.display = "none";
     } else {
       content.style.display = "block";
     }
   });
  }
  </script>
  <script><!--sidenav button-->
    function openNav() {
      document.getElementById("sidebar").style.display = "initial";
      document.getElementById("in").style.marginLeft = "320px";
      document.getElementById("openbtn").style.display = "none";
      if (screen.width<=950) {
      document.getElementById("in").style.display = "none";
      }
      else{
      document.getElementById("in").style.marginLeft = "320px";
      }
    }
    
    function closeNav() {
      document.getElementById("sidebar").style.display = "none";
      document.getElementById("in").style.marginLeft= "10px";
      document.getElementById("openbtn").style.display = "initial";
    }
    </script>

</body>
</html>