{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{%static 'Css.css' %}">
</head>
<body>
    <a class="active" href="/" style="display:flex ;">
        <img id="logo" src="{% static 'img/2-removebg.png' %}" height="100px">
        <h1 class="logo hidden-mobile">HAHA</h1>
    </a>
    <div class="login-box">
        <h2>Adaugare cazare</h2>
    {% if submitted %}
        <h5>Cazarea a fost adaugata cu succes</h5>
    {%else%}
    <form action="" method=POST enctype="multipart/form-data">
        {% csrf_token %}
        <div class="user-box">
            {{form.title}}
            <label for="{{ form.title.id_for_label }}">Titlu</label>
          </div>
        <div class="user-box">
            {{form.description}}
            <label for="{{ form.description.id_for_label }}">Descriere</label>
          </div>
        <div class="user-box">
            {{form.author}}
            <label for="{{ form.author.id_for_label }}">Autor</label>
          </div>
        <div class="user-box">
            {{form.adresa}}
            <label for="{{ form.adresa.id_for_label }}">Adresa</label>
          </div>
        <div class="user-box">
            <h5 style="
            
            
            font-size: 16px;
            color: #F2E8CF;
            pointer-events: none;
            transition: .5s;">Poza</h5>
            {{form.photos}}
            
          </div>
        <a href="#">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <input type="submit" 
            style="text-decoration: none;
            background: transparent;
            border: none;
            color: #F2E8CF;
            font-size: 16px;"/>
        </a>
    </form>
    {%endif%}
    </div>
</body>
</html>