{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{%static 'Css.css' %}">
</head>
<body>
    <a class="active" href="/" style="display:flex ;">
        <img id="logo" src="{% static 'img/2-removebg.png' %}" height="100px">
        <h1 class="logo hidden-mobile">HAHA</h1>
    </a>
    {% if submitted %}
            Cazarea a fost adaugata cu succes
    {%else%}
    <form action="" method=POST enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Submit" class="btn btn-secondary">
    </form>
    {%endif%}
</body>
</html>