{% load static %}
<!DOCTYPE html>
<html lang="ro">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="https://fonts.gstatic.com" rel="preconnect" />
  <link
href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
rel="stylesheet"
/>
  <link rel="stylesheet" href="{% static 'Css.css' %}">
  <title>Document</title>
</head>
<body>
  <div class="topnav" >
    <a class="active" href="/" style="display:flex ;">
      <img src="{% static 'img/2-removebg.png' %}" height="100px">
      <h1 class="logo">HAHA</h1>
    </a>
    <div class="center_topnav">
      <h1 class="slogan">Gasiti cazare instant la orice ora</h1>
    <input type="text" placeholder="Search" >
    </div>
    <div class="dropdown">
      <button class="dropbtn">User</button>
        <div class="dropdown-content">
          <a href="user"><b href="user">User Info</b><a>
          <b href="#">Switch User</b>
          <a href="login"><b href="login" style="color:red" >LOG OUT</b></a>
        </div>
    </div>
  </div>
  <div class="in1 main">
    <h1>Nume: AndreiHalcu</h1>
    <h1>Email: andreihlc2007@gmail.com</h1>
    <h1>Nume utilizator: andreih</h1>
    <h1>Alte detalii</h1>
    <button type="button" class="collapsible">Cazarile mele</button>
 <div class="content3">
   <h1>Cazare 1</h1>
   <h1>Cazare 2</h1>
 </div>  
   <button type="button" class="collapsible">Rezervarile mele</button>
 <div class="content3">
   <h1>Cazare 1</h1>
   <h1>Cazare 2</h1>
 </div>
  </div>
 <script>
 var coll = document.getElementsByClassName("collapsible");
 var i;

 for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active1");
    var content = this.nextElementSibling;
    if (content.style.display === "block") {
      content.style.display = "none";
    } else {
      content.style.display = "block";
    }
  });
 }
 </script>
</body>
</html>