*{
    font-family: sans-serif;
}

h1{
    color: green;
}

span{
    background-color: aqua;
    color: blue;
    width: auto;
}

hr{
    width: auto;
    height: auto;
    color: blue;
}

.logo {
    
    display: flex;
}

.logo_img{
    width: 40px;
    height: 40px;
    
}