* {box-sizing: border-box;
  scroll-behavior: smooth;
  
}

body {
  margin: 0;
  font-family: 'Times New Roman', Times, serif;
  size: adjust 10px;
  
  
}

.topnav {
  overflow: hidden;
  height: 150px;
  box-shadow: 2px 2px 20px #312f2f;
  background-image: linear-gradient(white, rgb(218, 217, 217));
}

.topnav a {
    float: left;
  
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    border-radius:25px;
    transition: background-color 0.5s ease-out;
  }

.user {
    background-color: #86852f;
    padding: 14px 14px;
    position: absolute;
    right: 0%;
}

.topnav a:hover {
  
  color: black;
}

.active {
  
  color: white;
  border:0px solid rgb(240, 224, 0);
  height: 100px;
  display: flex;
}

.logo{
  margin-top: 0px;
  color: green;
  font-family: cursive;
  display: flex;
  font-size: 60px;
  text-shadow: 2px 2px 20px #312f2f;
}

.topnav input[type=text] {
  float: none;
  padding-left: 15px;
  border: none;
  font-size: 18px;
  width: 350px;
  border-radius:20px;
  border:0px solid rgb(0, 0, 0);
  position:absolute;
  left: 30%;
  top:17%;
  box-shadow: 1px 1px 15px rgb(195, 194, 194);
}

@media screen and (max-width: 100px) {
  .topnav a, .topnav input[type=text] {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
    border-radius:20px;
  }
  
  .topnav, input[type=text] {
   
    border-radius:20px;
     
  } 

  
}

.sidenav {
  
  width: 300px;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(14, 134, 233);
  overflow-x: hidden;
  padding-top: 10px;
  float: left;
  box-shadow: 2px 2px 20px #312f2f;
  margin-left: 0;
}

.sidenav .content{
  margin-bottom: 15px;
}
.sidenav b {
  width: 150px;
  background-color: #86852f;
  padding: 6px 8px 6px 10px;
  text-decoration: none;
  font-size: 20px;
  color: #000000;
  display: flex;
  border-radius:15px;
  margin:auto;
  margin-bottom: 10px;
  transition: color 0.5s ease-out;
  
  
}

.sidenav b:hover {
  color: #f1f1f1;
  background-color: aqua;
}

.main {
  margin-left: 350px; 
  font-size: 16px; 
  padding: 0px 0px;
  
}

.mani {
  margin-top: 0px; 
  font-size: 20px; 
  padding: 0px 0px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav b {font-size: 16px;}
}

.results{
    padding-top: 10px;
    padding-bottom: 10px;
}

.res{
    display:flex;
}
.offerimg {
    width: 200px;
    height: 150px;
}
.prezentare{
  margin: 0px 0px 0px 0px;
  width: 500px;
}