* {box-sizing: border-box;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

body {
  
  
  font-family: 'Nunito', sans-serif;
  size: adjust 10px;
}


/*============== Header pagina==========*/



.topnav {
  overflow: visible;
  height: 100px;
  box-shadow: 2px 2px 20px rgba(128, 47, 3, 0.311);
  background-color: white;
  top: 0;
  margin: auto;
  position: fixed;
  width: 100%;
  z-index: 2;
  background-image:linear-gradient(rgb(242, 232, 207), rgba(167, 201, 87));
 }

 .active {
  color: white;
  border:0px solid rgb(167, 201, 87);
  height: 100px;
  display: flex;
  width: fit-content;
}

.logo{
  margin-top: 0px;
  color: rgb(56, 102, 65);
  font-family: cursive;
  display: flex;
  font-size: 60px;
  text-shadow: 2px 2px 10px rgba(4, 4, 4, 0.25);
}

.slogan{
  top: 10px;
  left: 560px;
  color: rgb(188, 71, 73);
  position: absolute;
  width: max-content;
}

.topnav input[type=text] {
  float: none;
  padding-left: 15px;
  border: none;
  font-size: 18px;
  width: 400px;
  border-radius: 20px;
  border: 0px solid rgb(0, 0, 0);
  position: absolute;
  left: 600px;
  top: 60px;
  box-shadow: 1px 1px 15px rgb(195, 194, 194);
}

.dropbtn {
  background-color: #6A994E;
  color: #F2E8CF;
  padding: 14px;
  font-size: 16px;
  border: none;
  box-sizing: border-box;
  box-shadow: 0 5px 10px rgba(0,0,0,6);
  border-radius: 10px;
}

.dropdown {
  position: absolute;
  display: inline-block;
  z-index: 3;
  margin-top: -80px;
  left: 1430px;
  margin-left: auto;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #F2E8CF;
  min-width: 160px;
  box-shadow: 0 5px 10px rgba(0,0,0,6);
  box-sizing: border-box;
  border-radius: 6px;
  z-index: 1;
  left: -100px;
  text-align: left;
}

.dropdown-content b {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  box-shadow:  black;
  border-radius: 6px;
}

.dropdown-content b:hover {background-color: #6A994E;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #A7C957;}

.topnav .user:hover {
  color: rgb(255, 253, 253);
  transition: color 0.5s ease-out;
}

@media screen and (max-width: 100px) {
  .topnav a, .topnav input[type=text] {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
    border-radius:20px;
  }
  
  .topnav, input[type=text] {
    border-radius:20px;  
  }
}


/*======= Bara laterala =============*/


.sidenav {
  width: 300px;
  z-index: 1;
  top: 100px;
  left: 0;
  background-image:linear-gradient(rgb(242, 232, 207), rgba(167, 201, 87));
  overflow-x: hidden;
  float: left;
  box-shadow: 0px 0px 30px rgba(143, 143, 143, 0.1);
  margin-left: 0;
  height: 100%;
  position: fixed;
}

.mani {
  margin-top: 0px; 
  font-size: 20px; 
  padding: 0px 0px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav b {font-size: 16px;}
}


.sidenav .content{
  margin-bottom: 15px;
}

.sidenav b {
  width: 170px;
  background-color: #ffffff;
  padding: 6px 8px 6px 10px;
  text-decoration: none;
  font-size: 20px;
  color: #000000;
  display: flex;
  border-radius: 15px;
  margin: auto;
  margin-top: 6px;
  margin-bottom: 10px;
  transition: color 0.5s ease-out;
  margin-left: 30px;
}

.sidenav b:hover {
  color: #f1f1f1;
  background-color: rgb(106, 153, 78);
}

.filtre {
  padding-left: 10px;
  margin: 0;
}

.filtre1{
  margin-left: 8px;
  margin-right: 8px;
  border: 4px solid rgb(128, 128, 128);
  border-radius: 5px;
  box-shadow: 3px 3px 3px 3px #505050;
}

.liste{
  display: inline;
  margin: 0;
  padding: 0px;
  align-content: center;
  align-items: center;
}

.liste li{
  display: inline;
  align-content: center;
  align-items: center;
}

input{
  display: inline;
}


/*================   index.html ===============*/
.main {
  width: 1100px;
  margin-left: 350px; 
  font-size: 16px; 
  padding: 0px 0px;
  margin-top: 150px;
}

.content1 {
margin-left: 50px;

}

.results{
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 2px 2px 2px 2px #858585;
    background-color: rgb(255, 255, 255);
    margin-top: 10px;
    border-radius: 4px;
    display:flex;
}

.res{
    display:flex;
    text-decoration: none;
}

.offerimg {
    width: 200px;
    height: 150px;
    border: 2px solid white;
    border-radius: 4px;
}

.prezentare{
  margin: 0px 0px 0px 0px;
  width: 600px;
}

h2{
 color: #000000;
}

.adress{
  color: green;
}

.adress:hover{
  color:red;
}

p {
  margin: 0;
}

footer{
  background-color: rgb(56,102,65);
  height: 70px;
  width: auto;
  margin-left: 300px;
}


/* ========= login ============*/

html {
  height: 100%;
}

body {
  margin:0;
  padding:0;
  font-family: sans-serif;
  background-size: cover;
  background-attachment: fixed;
  background-image: linear-gradient(rgb(242, 232, 207), rgb(106, 153, 78), rgb(106, 153, 78), rgb(242, 232, 207));
}

.login-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background-image: linear-gradient(rgb(106, 153, 78), rgb(56, 102, 65), rgb(56, 102, 65), rgb(106, 153, 78));
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,6);
  border-radius: 10px;
}

.login-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #F2E8CF;
  text-align: center;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #F2E8CF;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #F2E8CF;
  outline: none;
  background: transparent;
}
.login-box .user-box label {
  position: absolute;
  top:0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #F2E8CF;
  pointer-events: none;
  transition: .5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #F2E8CF;
  font-size: 12px;
}

.login-box form a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #F2E8CF;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px
}

.login-box a:hover {
  background: #6A994E;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #F2E8CF,
              0 0 25px #F2E8CF,
              0 0 50px #F2E8CF,
              0 0 100px #F2E8CF;
}

.login-box a span {
  position: absolute;
  display: block;
}

.login-box a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #F2E8CF);
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,100% {
    left: 100%;
  }
}

.login-box a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #F2E8CF);
  animation: btn-anim2 1s linear infinite;
  animation-delay: .25s
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,100% {
    top: 100%;
  }
}

.login-box a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #F2E8CF);
  animation: btn-anim3 1s linear infinite;
  animation-delay: .5s
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,100% {
    right: 100%;
  }
}

.login-box a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #F2E8CF);
  animation: btn-anim4 1s linear infinite;
  animation-delay: .75s
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,100% {
    bottom: 100%;
  }
}